<script type="text/template" id="test-details-template">
    <div class="roleExpertsOnly">
        <a class="btn-small" href="#test-submit.html/<%= t.testUnitId %>">Edit Test</a>
        <a class="btn-small" href="#test-delete.html/<%= t.testUnitId %>">Delete Test</a>
    </div>
    <table border="1">
        <caption>Test Case Details</caption>
        <tbody>
            <tr>
                <th scope="row">ID</th>
                <td><%= t.testUnitId %></td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td><%= t.title %></td>
            </tr>
            <tr>
                <th scope="row">Technique</th>
                <td><%= t.technique.nameId %>: <%= t.technique.title %></td>
            </tr>
            <tr>
                <th scope="row">Status</th>
                <td><%= t.status %></td>
            </tr>
            <tr>
                <th scope="row">Date</th>
                <td><%= t.date %></td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td><%= t.description %></td>
            </tr>
            <tr>
                <th scope="row">Test Page</th>
                <td>
                    <a target="thetest" href="<%= t.testFile %>">Open Test Page in new browser window</a>
                </td>
            </tr>
            <tr>
                <th scope="row">Testing Steps</th>
                <td>
                    <ol>
                        <% _.each(t.testProcedure.steps, function(s) { %>
                        <li><%= s.step %></li>
                        <% }); %>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">Comment</th>
                <td><%= t.comment %></td>
            </tr>
            <tr>
                <th scope="row">Testing Question</th>
                <td><%= t.testProcedure.yesNoQuestion %></td>
            </tr>
            <tr>
                <th scope="row">Expected Result</th>
                <td><%= t.testProcedure.expectedResult %></td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/template" id="test-selected-list-template">
    <li>
        <button class="btn-icon">
            <span class="icon icon-remove">
                <span class="visuallyhidden" aria-described-by="<%= test.testUnitId %>">
                    Remove
                </span>
            </span>
        </button>
        <span id="<%= test.testUnitId %>"><%= test.title %> (<%= test.testUnitId %>)</span>
    </li>
</script>
<script type="text/template" id="user-profile-template">
    <tr>
        <td><input name="testprofilesin" id="testprofile-<%= id %>" value="<%= id %>" type="radio" required></td>
        <td>
            <label for="testprofile-<%= id %>">
                OS: <%= p.platform.name %> <%= p.assistiveTechnology.version.text %><br>
                Browser: <%= p.userAgent.name %> <%= p.userAgent.version.text %><br>
                Assistive Technology: <%= p.assistiveTechnology.name %> <%= p.assistiveTechnology.version.text %> <br>
                Plugin: <%= p.plugin.name %> <%= p.plugin.version.text %>
            </label>
        </td>
    </tr>
</script>
<script type="text/template" id="test-run-finish-resultsList">
    <header>
        <h3>Test Results</h3>
    </header>
    <ul>
        <% _.each(results, function(r) { %>
            <li><%= r.testUnitId %> [Outcome: <%= r.resultValue %> with Profile:
                 <%= r.testingProfile.platform.name %> <%= r.testingProfile.assistiveTechnology.version.text %> ,
                 <%= r.testingProfile.userAgent.name %> <%= r.testingProfile.userAgent.version.text %> ,
                 <%= r.testingProfile.assistiveTechnology.name %> <%= r.testingProfile.assistiveTechnology.version.text %> ,
                 <%= r.testingProfile.plugin.name %> <%= r.testingProfile.plugin.version.text %>]
                <span class="btn-pills">
                    <button value="<%= r.testUnitDescription %>" class="btn removeTestingResult"><span class="icon-minus-sign-alt"></span>	Delete</button>
                    <!-- <button value="<%= r.testUnitId %>" class="btn testRetest"><span class="icon-repeat"></span>	Put selected for retesting</button> -->
                </span>
            </li>
        <% }); %>
    </ul>
    <header>
        <h3>Submit test results</h3>
    </header>
    <form action="#">
        <div class="form-block">
            <div class="form-row">
                <label for="name">Name/E-Mail (optional):</label>
									<span>
										<input type="text" id="name">
									</span>
            </div>
        </div>
        <p>You have carried out <strong><%= results.length %> tests that can be published</strong>. Please confirm this contribution.</p>
        <div class="form-submit">
            <a href="#/tests-run-submit.html" id="testResultsPersist" class="btn-primary btn-next" type="submit"><span class="icon-ok-sign"></span> Submit Test Results</a>
        </div>
    </form>
</script>
<script type="text/template" id="test-run-template">
        <header>
            <h3><span class="subheading">Test : <%= test.testUnitId %></span> <%= test.title %></h3>
        </header>
        <section>
            <h4>Test Description</h4>
            <p><%= test.testUnitId %></p>
        </section>

        <section>
            <h4>Test Procedure</h4>
            <ol>
                <% _.each(test.testProcedure.steps, function(s) { %>
                <li><%= s.step %></li>
                <% }); %>
            </ol>
        </section>

        <section>
            <h4>Test File(s)</h4>
            <a href="<%= test.testFile %>" class="btn" target="_blank">Open test file <span class="icon-new-window"><span class="visuallyhidden">in a new window</span></span></a>
        </section>
        <form id="testingForm" action="#">
            <section>
                <h4>Test Results</h4>
                <fieldset>
                    <legend><%= test.testProcedure.yesNoQuestion %></legend>
                    <div class="form-block">
                        <div class="form-row radio">
											<span>
												<input type="radio" id="res" value="true" name="result">
											</span>
                            <label for="res">Yes/True</label>
                        </div>
                        <div class="form-row radio">
											<span>
												<input type="radio" id="res2" value="false" name="result">
											</span>
                            <label for="res2">No/False</label>
                        </div>
                    </div>
                </fieldset>
                <div class="form-block">
                    <div class="form-row">
                        <label for="cmnt">Comment:</label>
										<span>
											<textarea name="comment" id="cmnt" cols="30" rows="10"></textarea>
										</span>
                    </div>
                </div>
                <div class="form-submit">
                    <button class="btn skipme" type="button"><span class="icon-skip-sign"></span> Skip Test and Load Next</button>
                    <a href="#/test-run.html" class="btn-primary btn-next do_next" type="submit"><span class="icon-ok-sign"></span> Save Test and Load Next</a>
                    <!--
                        <button class="btn-primary btn-next" type="submit"><span class="icon-ok-sign"></span> Save Test and Load Next</button>
                    -->
                </div>
            </section>
        </form>
</script>
<script type="text/template" id="admin-technique-sync-response-prepare-template">
    <table>
        <caption>GitHub/DB sync status results</caption>
         <thead>
             <th scope="col">Technique</th>
             <th scope="col">Status</th>
             <th scope="col">Date</th>
             <th scope="col">URL</th>
             <th scope="col">Sha</th>
         </thead>
        <tbody>
        <% _.each(results, function(r) { %>
            <tr class="admin-import-li-<%= r.statusCode %>">
                <td>
                    <label>
                        <input type="checkbox" name="admin-technique-sync" value="<%= r.entity.technique %>"  <% if(r.statusCode==101) { %>checked="checked"<% } %> />
                        <%= r.entity.technique %>
                    </label>
                </td>
                <td><%= r.statusCode %></td>
                <td><%= r.entity.date %></td>
                <td>
                    <% if(r.statusCode!=100) { %>
                    <a target="new" href="<%= r.entity.diffUrl %>">Differences in GitHub (new window)</a></td>
                <% } else { %>
                    No diff
                <% } %>
                <td><%= r.entity.sha %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</script>
<script type="text/template" id="admin-technique-sync-response-synced-template">
    <table>
        <caption>Sync Results</caption>
        <thead>
        <th scope="col">Technique ID</th>
        <th scope="col">Technique Title</th>
        <th scope="col">Sync Status</th>
        </thead>
        <tbody>
        <% _.each(results, function(r) { %>
        <tr class="admin-import-li-<%= r.statusCode %>">
            <td><%= r.entity.nameId %></td>
            <td><%= r.entity.title %></td>
            <td><%= r.statusCode %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>
<script type="text/template" id="test-submit-code-template"><!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
</head>
<body>
</body>
</html></script>

<script type="text/template" id="TestResultsDataOverview_template">
    <table class="results">
        <colgroup>
            <col class="col1">
            <col class="col2">
            <col class="col3">
            <col class="col4">
        </colgroup>
        <thead>
            <tr>
                <td class="liketh"></td>
                <th colspan="2" scope="colgroup">Title</th>
                <th>Passed</th>
            </tr>
        </thead>
        <% _.each(results, function(r) { %>
        <tbody class="collapsed">
           <tr>
                <td class="liketh">
                    <button value="<%= r.technique %>" class="results-technique-button" >
                        <span class="icon icon-expand"><span class="visuallyhidden">Expand</span></span>
                    </button>
                </td>
                <th scope="row" colspan="2">
                    <%= r.technique %>: <a href="http://www.w3.org/TR/WCAG20-TECHS/<%= r.technique %>">  <%= r.techniqueTitle %>&nbsp;<span class="icon-external-link"><span class="visuallyhidden">Link to external page.</span></span></a>
                </th>
                <td class="result">
                    <a href="h4.html" class="btn btn-small">
                        <span class="chart" style="display:none"><%= r.noOfPass %>/<%= r.noOfAll %></span>
                        <%= r.noOfPass %>/<%= r.noOfAll %>
                        <span class="icon-arrow-right2">
                            <span class="visuallyhidden">Show results</span>
                        </span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody class="testcases"></tbody>
    <% }); %>
</table>
</script>
<script type="text/template" id="TestResultsDataOverviewTestCases_template">
        <% lresults = results.length %>
        <% first = true %>
        <% _.each(results, function(r) { %>
           <tr>
                <% if (first) { %>
                <td class="empty" rowspan="<%=lresults%>"></td>
                <th scope="rowgroup" rowspan="<%=lresults%>">
                    Test Cases
                </th>
                <% first = false %>
                <% } %>
                <th scope="row">
                    <%= r.testCaseId %>: <a href="<%= r.testCaseId %>">  <%= r.testCaseTitle %></a>
                </th>
                <td class="result">
                    <a href="h4.html" class="btn btn-small">
                        <span class="chart" style="display:none"><%= r.noOfPass %>/<%= r.noOfAll %></span>
                        <%= r.noOfPass %>/<%= r.noOfAll %>
                        <span class="icon-arrow-right2">
                            <span class="visuallyhidden">Show results</span>
                        </span>
                    </a>
                </td>
            </tr>
        <% }); %>
</script>
<script type="text/template" id="RelatedTestCases_template">
    <% _.each(results, function(r) { %>
        <li>
            <strong><%= r.testCaseId %>:</strong> <a href="<%= r.testCaseId %>">  <%= r.testCaseTitle %></a>
            <a href="h4.html" class="btn btn-small">
                <span class="chart" style="display:none"><%= r.noOfPass %>/<%= r.noOfAll %></span>
                <%= r.noOfPass %>/<%= r.noOfAll %>
                <span class="icon-arrow-right2">
                    <span class="visuallyhidden">Show results</span>
                </span>
            </a>
        </li>
    <% }); %>
</script>
