<article id="axsdb-page-tech-details">
    <h1 class="page-title">
        Accessibility Support Database
    </h1>
    <nav class="navbar" role="navigation">
	   <a href="#/home.html" class="btn-small"><span class="icon-home"></span> Home</a>
	   <a href="#/log-in.html" class="btn-small login"><span class="icon-unlock-alt"></span> <span class="login-info">Log In</span></a>
    </nav>
    <div class="content">
	    <div class="grid">
		    <h2>Details for Technique <span><strong>H4:</strong> Creating a logical tab order through links, form controls, and objects</span></h2>
            <div class="with-filter">
                <aside class="column-first" aria-label="Filter results">
                    <div class="column-filters">
                        <h3>Filter test cases</h3>
                        <form action="#">
                            <div class="">
                                <h4>Conformance Level</h4>
                                <div>
                                    <div>
                                        <label><input type="radio" data-axsdb-filtertype="wcaglevel" name="conformance" value="AAA"> A &amp; AA &amp; AAA</label>
                                    </div>
                                    <div>
                                        <label><input type="radio" data-axsdb-filtertype="wcaglevel" checked name="conformance" value="AA"> A &amp; AA</label>
                                    </div>
                                    <div>
                                        <label><input type="radio" data-axsdb-filtertype="wcaglevel" name="conformance" value="A"> A</label>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <h4>Success Criteria</h4>
                                <div class="criteriaTreeDiv" data-axsdb-filtertype="WCAG">
                                </div>
                            </div>
                            <div class="">
                                <h4>Assistive Technology</h4>
                                <div class="atTreeDiv" data-axsdb-filtertype="AssistiveTechnology"></div>
                            </div>
                            <div class="">
                                <h4>Browser</h4>
                                <div class="uaTreeDiv" data-axsdb-filtertype="UAgent"></div>
                            </div>
                            <div class="">
                                <h4>Operating System</h4>
                                <div class="osTreeDiv" data-axsdb-filtertype="Platform"></div>
                            </div>
                            <div class="">
                                <h4>Web Technology</h4>
                                <div class="webTechTreeDiv" data-axsdb-filtertype="WebTechnology"></div>
                            </div>


                        </form>
                    </div>
                </aside>
                    <div class="column-second">
                        <table class="result-details">
                            <caption>In the columns, you can find browser versions.<br>The rows show assistive technologies.</caption>
                            <thead>
                                <tr>
                                    <th rowspan="2" colspan="2"> </th>
                                    <th colspan="3" scope="colgroup">Firefox</th>
                                    <th colspan="2" scope="colgroup">Internet Explorer</th>
                                </tr>
                                <tr>
                                    <th scope="col" data-accessdbproductver="25" data-accessdbproductname="Firefox"><span class="visuallyhidden">Firefox</span> 25</th>
                                    <th scope="col" data-accessdbproductver="27" data-accessdbproductname="Firefox"><span class="visuallyhidden">Firefox</span> 27</th>
                                    <th scope="col" data-accessdbproductver="30" data-accessdbproductname="Firefox"><span class="visuallyhidden">Firefox</span> 30</th>
                                    <th scope="col" data-accessdbproductver="10" data-accessdbproductname="Internet Explorer"><span class="visuallyhidden">Internet Explorer</span> 10</th>
                                    <th scope="col" data-accessdbproductver="11" data-accessdbproductname="Internet Explorer"><span class="visuallyhidden">Internet Explorer</span> 11</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th data-accessdbproductver="" data-accessdbproductname="" colspan="2" scope="row">None</th>
                                    <td class="untested">Not tested</td>
                                    <td class="untested">Not tested</td>
                                    <td><span class="chart">2/2</span> <a title="show test results of this combination" href="" class="TestResultFullViewTechniqueAnchor">2/2</a></td>
                                    <td class="untested">Not tested</td>
                                    <td class="untested">Not tested</td>
                                </tr>
                                <tr>
                                    <th data-accessdbproductver="10" data-accessdbproductname="Cobra">Cobra</th>
                                    <th scope="row"><span class="visuallyhidden">Cobra</span> 10</th>
                                    <td><span class="chart">0/1</span> <a title="show test results of this combination" href="" class="TestResultFullViewTechniqueAnchor">0/1</a></td>
                                    <td class="untested">Not tested</td>
                                    <td class="untested">Not tested</td>
                                    <td><span class="chart">0/1</span> <a title="show test results of this combination" href="" class="TestResultFullViewTechniqueAnchor">0/1</a></td>
                                    <td class="untested">Not tested</td>
                                </tr>
                                <tr>
                                    <th data-accessdbproductver="15" data-accessdbproductname="Jaws">Jaws</th>
                                    <th scope="row"><span class="visuallyhidden">Jaws</span> 15</th>
                                    <td class="untested">Not tested</td>
                                    <td class="untested">Not tested</td>
                                    <td class="untested">Not tested</td>
                                    <td><span class="chart">0/1</span> <a title="show test results of this combination" href="" class="TestResultFullViewTechniqueAnchor">0/1</a></td>
                                    <td><span class="chart">1/1</span> <a title="show test results of this combination" href="" class="TestResultFullViewTechniqueAnchor">1/1</a></td>
                                </tr>
                                <tr>
                                    <th data-accessdbproductver="2013.2" data-accessdbproductname="NVDA">NVDA</th>
                                    <th scope="row"><span class="visuallyhidden">NVDA</span> 2013.2</th>
                                    <td><span class="chart">1/1</span> <a title="show test results of this combination" href="" class="TestResultFullViewTechniqueAnchor">1/1</a></td>
                                    <td class="untested">Not tested</td>
                                    <td class="untested">Not tested</td>
                                    <td class="untested">Not tested</td>
                                    <td class="untested">Not tested</td>
                                </tr>
                                <tr>
                                    <th data-accessdbproductver="2013.3" data-accessdbproductname="NVDA">NVDA</th>
                                    <th scope="row"><span class="visuallyhidden">NVDA</span> 2013.3</th>
                                    <td class="untested">Not tested</td>
                                    <td class="untested">Not tested</td>
                                    <td class="untested">Not tested</td>
                                    <td class="untested">Not tested</td>
                                    <td><span class="chart">1/1</span> <a title="show test results of this combination" href="" class="TestResultFullViewTechniqueAnchor">1/1</a></td>

                                </tr>
                                <tr>
                                    <th data-accessdbproductver="8.4" data-accessdbproductname="Window-Eyes">Window-Eyes</th>
                                    <th scope="row"><span class="visuallyhidden">Window Eyes</span> 8.4</th>
                                    <td class="untested">Not tested</td>
                                    <td><span class="chart">0/1</span> <a title="show test results of this combination" href="" class="TestResultFullViewTechniqueAnchor">0/1</a></td>
                                    <td class="untested">Not tested</td>
                                    <td class="untested">Not tested</td>
                                    <td><span class="chart">0/1</span> <a title="show test results of this combination" href="" class="TestResultFullViewTechniqueAnchor">0/1</a></td>
                                    </tr>
                            </tbody>
                        </table>
                        <h3>Test cases covering this technique:</h3>
                        <ul id="RelatedTestCases">
                            <!-- Put data from Template “RelatedTestCases_template” here -->
                            <li>73: Em and strong elements can be used to stress parts of a text
                                <a href="h4.html" class="btn btn-small">
                                    <span class="chart" style="display:none"><%= r.noOfPass %>/<%= r.noOfAll %></span>
                                    <%= r.noOfPass %>/<%= r.noOfAll %>
                                    <span class="icon-arrow-right2">
                                        <span class="visuallyhidden">Show results</span>
                                    </span>
                                </a>
                            </li>
                            <li>74: sub elements indicate subscript in HTML</li>
                            <li>75: sup elements indicate superscript in HTML</li>
                            <li>76: abbr and acronym can identify special text in html</li>
                            <li>77: b, i and u can identify special text in HTML</li>
                            <li>78: small identifies special text in HTML</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</article>
