		<h1 class="page-title">
			Accessibility Support Database
		</h1>
		<nav class="navbar" role="navigation">
            <a href="#/home.html" class="btn-small"><span class="icon-home"></span> Home</a>
            <a href="#/log-in.html" class="btn-small login"><span class="icon-unlock-alt"></span> Log In</a>
		</nav>
		<div class="content">
			<div class="grid">
				<ol class="timeline">
					<li class="timeline-past"><a href="#/user-profiles.html"><span>Select Profiles</span></a></li>
					<li class="timeline-current"><span><span>Select Tests</span></span></li>
					<li><span><span>Run Tests</span></span></li>
					<li><span><span>View Results</span></span></li>
					<li><span><span>Submit Results</span></span></li>
				</ol>
				<h2>Run Test Cases</h2>
				<div class="with-filter">
					<aside class="column-first" aria-label="Filter results">
						<div class="column-filters">
							<h3>Filter test cases</h3>
							<form action="#">
								<div class="">
									<h4>Conformance Level</h4>
									<div>
										<div>
											<label><input type="radio" name="conformance" value="AAA"> A &amp; AA &amp; AAA</label>
										</div>
										<div>
											<label><input type="radio" checked name="conformance" value="AA"> A &amp; AA</label>
										</div>
										<div>
											<label><input type="radio" name="conformance" value="A"> A</label>
										</div>
									</div>
								</div>
								<div class="">
									<h4>Success Criteria</h4>
                                    <div class="criteriaTreeDiv">
									</div>
								</div>
								<div class="">
                                    <h4>Web Technology</h4>
                                    <div class="webTechTreeDiv"></div>

								</div>
							</form>
						</div>
					</aside>
					<div class="column-second">
						<h3>Select test cases</h3>
						<div id="selected" class="selected box box-primary box-collapsible box-collapsed">
							<h4 class="box-caption">Selected tests</h4>
							<div class="box-content">
								<form action="#">
                                    <ul class="bulletless">
                                    </ul>
								</form>

							</div>
							<!--<a href="user-profiles.html" id="testform_submit" type="submit" class="btn-primary btn-next"> Next: Testing Profiles <span class="icon-arrow-right"></span></a>-->
						</div>

						<h3>Test Cases, grouped by techniques</h3>
						<form action="#">
							<div role="search" class="flush right">
								<label for="input_search">Search:</label>
								<input type="search" placeholder="e.g. H24, text, …" id="input_search">
							</div>
						</form>
						<div class="live-feedback live-changed">
							<p>Showing <span class="testsOnPage">...</span> of <span class="tests_count_all">...</span> test cases, based on your filters</p>
						</div>
						<div id="thetestsTreeDiv">
							<div class="progress"><div>Loading…</div></div>
						</div>
					</div>
				</div>
				<div class="steps">
					<a href="#/user-profiles.html" class="btn"><span class="icon-arrow-left"></span> Previous: Testing Profiles</a>
					<a href="#/test-run.html/0" class="btn-primary btn-next">Next: Run Test <span class="icon-arrow-right"></span></a>
				</div>
			</div>
		</div>

        <script type="text/template" id="test-selected-list-template">
                <li>
                    <button class="btn-icon">
                        <span class="icon icon-remove">
                            <span class="visuallyhidden" aria-described-by="<%= test.testUnitId %>">
                                Remove
                            </span>
                        </span>
                    </button>
                    <span id="#<%= test.testUnitId %>"><%= test.title %> (<%= test.testUnitId %>)</span>
                </li>
        </script>